<div class="row">
    <div class="col-lg-2 hidden-xs hidden-md"></div>
    <div class="col-lg-8 col-md-12 p-4">
        <form (ngSubmit)="onSumbit(wordForm)" #wordForm="ngForm" class="input-group">
            <input name="word" ngModel placeholder="Enter Word to translate" type="text"
             class="form-control form-control-lg">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-success btn-flat"><i
                        class="material-icons">g_translate</i></button>
            </span>
        </form>
        <br />
        <div *ngIf="is_loading; else translations">
            <div class="d-flex m-5 justify-content-center">
                <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <ng-template #translations>
            <div class="row">
                <div *ngFor="let item of supported_lang" class="col-lg-4 col-md-6 col-xs-12">
                    <div class="card shadow ">
                        <div class="card-body">
                            <h5 class="card-title">{{ translate_data[item] }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ item }}</h6>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </ng-template>
        <div class="text-center">
            Design and Developed by <a style="color: black" href="https://github.com/mangoliprasanna">Prasanna Mangoli</a> © 2019
         </div>
    </div>
    <div class="col-lg-2 hidden-md hidden-xs"></div>
</div>